<?xml version="1.0" encoding="UTF-8"?>
<menu>
    <menucache>
        <item id="telephony_dashboard">
            <description>Telephony Dash</description>
            <type>module</type>
            <id_parent>pbxconfig</id_parent>
            <link></link>
            <order_no>99</order_no>
        </item>
    </menucache>
    <permissions>
        <group id="1">
            <resource id="telephony_dashboard">
                <description>Telephony Dashboard</description>
                <action>1</action>
            </resource>
        </group>
    </permissions>
</menu>
